
<style>
    .telegram-button {
        opacity: 0; 
        position: fixed;
        right: 20px;
        bottom: 20px;
        color: white;
        text-decoration: none;
        border: 1px solid;
        padding: 5px 7px;
        font-size: 16px;
        cursor: pointer;
        z-index: 1000;
        font-family: Unbounded;
        font-weight: 100;
        transition:  1s ease; 
    }

    .telegram-button.visible {
        opacity: 1; 
    }

    .telegram-button:hover {
       transform: scale(1.05);
    }

    @media screen and (max-width: 768px) {
        .telegram-button {
            bottom: 2%;
            max-width: 60%;
            font-size: 0.9em;
        }
  }
</style>

<a id="telegramButton" class="telegram-button" href="https://t.me/wowuther" target="_blank">
    Звʼязатися з нами
</a>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let button = document.getElementById('telegramButton');
        if (button) {
            let wasButtonDisplayed = localStorage.getItem('telegramButtonDisplayed');
            let delay = wasButtonDisplayed ? 1000 : 8000;

            setTimeout(function() {
                button.classList.add('visible');
                localStorage.setItem('telegramButtonDisplayed', 'true');
            }, delay);
        }
    });
</script>

